.label {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-bottom: 30px
}
.label__name {
    display: inline-block;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase
}
.label__input,
.label__textarea {
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 1px var(--dark) solid;
    padding: 10px 0;
    outline: none;
    transition: .2s
}
.label__input::placeholder,
.label__textarea::placeholder {
    color: var(--grey);
}
.label__input:focus,
.label__textarea:focus {
    border-color: var(--grey)
}